* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(62, 62, 62);
}


.cells {
  width: calc(72*8);
  height: calc(72*8);
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}
.cell {
  position: relative;
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
background-color: #eeeed2;
}

.black {
  background-color: #769656;
}
.selected {
  background-color: burlywood;
}

.available {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(73, 66, 66);
  border-radius: 50%;
}

.enemy {
  background-color: rgb(184, 69, 69);
}

.cell img {
  min-width: 56px;
  min-height: 56px;
  position: relative;

}

h1 {
  color: #fff;
}

.btn {
  
  position: absolute;
  background-color: #32312f;
  
  color: #d6d6d6;
  font-size: 17px;
  padding: 18px 28px;
  border-radius: 4%;
}

.minutes .btn {
  position: relative;
}
.btn:active {
  background-color: #4a4846;
  color: #fff;

}

.btn:hover {
  cursor: pointer;
}

 .restart {
  left: 350px;
  bottom: 100px;
}

 .minutes {
  width: 250px;
  position: absolute;
  left: 150px;
  bottom: 200px;
  display: flex;
  justify-content: space-between;
  
}


.player {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 5px 0;
}

.timer {
  color: #fff;
  background-color: #32312f;
  font-size: 40px;
  width: 150px;
  height: 50px;
  text-align: center;
  border-radius: 4%;
}
